.layout-sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  width: 250px;
  background-color: #2a3238;
  height: 100%;
  z-index: 9999;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
}

.sidebar-menu {
  list-style: none;
}

li a {
  text-decoration: none;
  display: block;
  padding: 12px 24px;
  color: #d8d8d8;
  background-color: #2a3238;
  font-size: 16px;
  border-left: 4px solid transparent;
  border-bottom: 1px solid #23292e;
}
