.recipe-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recipe-list-layout {
  width: 50%;
  margin: 5px 5px 5px 5px;
}

.recipe-details-layout {
  width: 50%;
  margin: 5px 5px 5px 5px;
}
