<div class="shopping-edit-layout">
  <div class="form">
    <form>
      <div class="form-group">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name">
        </div>
        <div>
          <label for="amount">Amount</label>
          <input type="number" id="amount">
        </div>
      </div>
      <div>
        <div>
          <button pButton type="button" label="Add"></button>
          <button pButton type="button" label="Clear" class="ui-button-warning"></button>
          <button pButton type="button" label="Delete" class="ui-button-danger"></button>
        </div>
      </div>
    </form>

  </div>
</div>
